{% import_yaml 'atlassian-confluence/defaults.yaml' as default_settings %}
{% set confluence = salt['pillar.get']('atlassian-confluence', default=default_settings.get('atlassian-confluence'), merge=True) %}
{% from 'java/map.jinja' import java with context %}

{% do confluence.update({
  'url': confluence.get('url', 'https://www.atlassian.com/software/confluence/downloads/binary/atlassian-confluence-' + confluence.version + '.tar.gz'),
  'pid': confluence.dir + '/home/confluence.pid',
  'java_home': java.jre8.home,
  'dirs': {
    'scripts': confluence.dir + '/scripts',
    'home': confluence.dir + '/home',
    'extract': confluence.dir + '/extract',
    'install': confluence.dir + '/install',
    'temp': confluence.dir + '/temp',
    'current_install': confluence.dir ~ '/extract/atlassian-confluence-' ~ confluence.version
  }
}) %}
